.sidebar-toggle{
    width: 65vw;
    display: flex;
    justify-content: center;
}

.sidebar-toggle-logo{
    font-size: 2rem;
    color: gray;
}

.sidebar {
  width: 16rem;
  background: #1b1919;
  height: 90vh;
  position: absolute;
  top: 5vh;
  width: 300px;
  transition: 0.3s all ease-in-out;
}
.sidebar.active {
left: 0;
}

.sidebar-items {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.2s all ease-out;
}

.sidebar-item {
  list-style: none;
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
  display: flex;
}


.sidebar-item a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all ease-out;
}

.sidebar-item a span {
  margin-left: 1.5rem;
  font-size: 1.4rem;
}

.sidebar-item a:hover {
  background: tomato;}