.forgot-password {
    max-width: 400px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 60px;
}

.resetpw-btns {
    padding: 10px 10px;
    cursor: pointer;
    width: 100%;
    align-items: center;
}

.reset-btn {
    margin-top: 10px;
    margin-right: 20px;
}

.cancel-btn {
    margin-top: 10px;
}