.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.title {
  justify-content: center;
}

.URL-input-field {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  padding: 0%;
}

.Project-input-field {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  padding: 0%;
}

.Report-input-field {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  padding: 0%;
}

.Slide-input-field {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  padding: 0%;
}

.Subject-input-field {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  padding: 0%;
}

.Request-input-field {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  padding: 0%;
}

.attachments-block {
  height: 128px;
  padding: 0%;
}

.text-muted {
  justify-content: left;
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.tagSelectBox {
  display: flex;
}

.tagNameBox {
  display: flex;
  width: 70%;
}

.btn-submit-wrapper .btn-submit {
  display: inline-block;
  
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 22px;
  padding: 5px;
  width: 120px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.success-message {
  font-size: 20px;
  color: green;
  position: center;
  animation: buttons 0.3s linear;
}

.btn-saveTag-wrapper .btn-save {
  display: inline-block;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-top: 0%;
  margin-left: 10%;
}


.btn-newTag-wrapper .btn-addNewTag {
  display: inline-block;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 10%;
  margin-top: 0%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
